<h3>Some links I find interesting</h3>

<ul class="sixteen columns">
	{{#each delicious}}
		<li>
			<h4><a href="{{u}}" title="{{d}}">{{d}}</a></h4>
			<ul class="tags">{{#t}}<li>{{this}}</li>{{/t}}</ul>
		</li>
	{{/each}}
</ul>