<h1>Really just a test to see if this video gets indexed in youtube serps results and allows me to click to view this page and NOT on youtube</h1>
<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
	<h2><span itemprop="name">keyboard cat original</span></h2>
	<meta itemprop="duration" content="T55S" />
	<meta itemprop="thumbnailURL" content="http://i1.ytimg.com/vi/4eGQ5VFt7P4/hqdefault.jpg" />
	<meta itemprop="embedURL" content="http://www.robhuzzey.co.uk/youtubeserpstest.html" />
	<div id="schema-videoobject"><object width="640" height="380" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
	<param name="src" value="https://youtube.googleapis.com/v/4eGQ5VFt7P4" />
	<embed width="640" height="380" type="application/x-shockwave-flash" src="https://youtube.googleapis.com/v/4eGQ5VFt7P4" />
	</object></div>
	<span itemprop="description">the original.
	and just to be clear, no, I did not create this vid, Charlie Schmidt made it, just google his name, you will find him.
	peace.</span>
</div>