	
		<hr />

		<div id="disqus_thread" class="sixteen columns"></div>
		<script type="text/javascript">
			var disqus_shortname = 'robhuzzeycouk';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


	</div><!-- container -->


	
    

<!-- End Document
================================================== -->

	<footer>
		<a href="https://github.com/robhuzzey/robhuzzey.co.uk-generator" title="See how this site was made on GitHub" class="github">
			<div class="logo-github-small">
				<div class="ear-one-left"></div>
				<div class="ear-one-none"></div>
				<div class="ear-one-right"></div>
				<div class="ear-two-right"></div>
				<div class="ear-two-none"></div>
				<div class="ear-two-left"></div>
				<div class="body-bottom"></div>
				<div class="body-left-none"></div>
				<div class="body-right-none"></div>
				<div class="tail-end"></div>
				<div class="tail-body"></div>
				<div class="tail-body-spots"></div>
				<div class="tail-end-none"></div>
				<div class="tail-body-none"></div>
				<div class="tail-tip"></div>
				<div class="body-left"></div>
				<div class="body-right"></div>
				<div class="head"></div>
				<div class="chin-left"></div>
				<div class="chin-right"></div>
			</div>
			View the source on GitHub
		</a>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{assets}}/javascript/production.min.js"></script>


	<script type="text/javascript">
		var disqus_shortname = 'robhuzzeycouk';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>


</body>
</html>