{{#if mainMenu}}
	<nav class="sixteen columns">
	{{#each mainMenu}}
		<a href="{{href}}" title="{{title}}" class="two columns {{#isActivePage}}{{href}}{{/isActivePage}}">{{text}}</a>
	{{/each}}
	</nav>
{{/if}}