{{> header }}

	<h3>Books read</h3>

	{{#items}}

		<div itemscope itemtype="http://schema.org/Book" class="four columns book">

			<img itemprop="image" src="{{volumeInfo.imageLinks.thumbnail}}" />
			
			<div class="moreInfo">
				<h5><span itemprop="name">{{volumeInfo.title}}</span>{{#if volumeInfo.authors}} -
				by {{#each volumeInfo.authors}}<span itemprop="author">{{this}}</span>{{/each}}{{/if}}</h5>

				<p itemprop="description">{{volumeInfo.description}}</p>
	<!--
				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					Price: <span itemprop="price">$6.99</span>
					<meta itemprop="priceCurrency" content="USD" />
					<link itemprop="availability" href="http://schema.org/InStock">In Stock
				</div>

				Product details
				<span itemprop="numberOfPages">224</span> pages
				Publisher: <span itemprop="publisher">Little, Brown, and Company</span> -
				<meta itemprop="datePublished" content="1991-05-01">May 1, 1991
				Language: <span itemprop="inLanguage">English</span>
				ISBN-10: <span itemprop="isbn">0316769487</span>

				Reviews:

				<div itemprop="review" itemscope itemtype="http://schema.org/Review">
				<span itemprop="reviewRating">5</span> stars -
				<b>"<span itemprop="name">A masterpiece of literature</span>" </b>
				by <span itemprop="author">John Doe</span>,
				Written on <meta itemprop="datePublished" content="2006-05-04">May 4, 2006
				<span itemprop="reviewBody">I really enjoyed this book. It captures the essential
				challenge people face as they try make sense of their lives and grow to adulthood.</span>
				</div>

				<div itemprop="review" itemscope itemtype="http://schema.org/Review">
				<span itemprop="reviewRating">4</span> stars -
				<b>"<span itemprop="name">A good read.</span>" </b>
				by <span itemprop="author">Bob Smith</span>,
				Written on <meta itemprop="datePublished" content="2006-06-15">June 15, 2006
				<span itemprop="reviewBody">Catcher in the Rye is a fun book. It's a good book to read.</span>
				</div>


	-->
			</div>
		</div>



	{{/items}}

{{> footer }}

